@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
  font-size: 30px;
}

p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

.frames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: white;
  margin: 0;
}

img {
  width: 100px;
  height: auto;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.logoBtn {
  background-color: #24252a;
  transition: none;
}

/* When you hover over logoBtn, nothing happens */
.logoBtn:hover {
  background-color: #24252a;
}

.logoA {
  color: #edf0f1;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
}

.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
